<p><h1>New plastic</h1><%= link_to "Back to plastics", plastics_path, class: 'btn btn-secondary' %></p>

<%= render "form", plastic: @plastic %>

<br>

<div>
  <%= link_to "Back to plastics", plastics_path %>
</div>
